@model Insure.Web.Models.Policy

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Policy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PolicyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PolicyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MonthlyPremium)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonthlyPremium)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deductible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deductible)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsCoinsurance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsCoinsurance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoInsurancePercentage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoInsurancePercentage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsCopay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsCopay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PCPCopay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PCPCopay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ERCopay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ERCopay)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PolicyId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
