@model Insure.Web.Models.AppUser

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.FullName)</h2>

<div>
    <h4>Summary:</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Policies)
        </dt>

        <dd>
            <table class="table">
                <tr>
                    <th>Insurance Company</th>
                    <th>Policy Name</th>
                </tr>
                @foreach (var item in Model.Policies)
{
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Company.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Add","Create","Policy",new { id = Model.Id },"~/Controllers/PolicyController")
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
