<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>

    <link href="~/Templates/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Templates/css/datepicker3.css" rel="stylesheet">
    <link href="~/Templates/css/styles.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic" rel="stylesheet" type="text/css">

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand"><span>Agent</span>Cloud</div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Upload a File", "Index", "FileHandler")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>

            </div>
        </div>
    </nav>
    <div class="sidebar">
        <div id="sidebar-collapse">
            <form role="search">
                <div class="form-group" id="sidebarForm">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
            </form>
            <ul class="nav menu">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Client Stats", "About", "Home")</li>
                <li>@Html.ActionLink("Clients", "Index", "User")</li>
                <li>@Html.ActionLink("Policies", "Index", "Policy")</li>
                <li>@Html.ActionLink("Companies", "Index", "Company")</li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Manage
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">

                        <li>@Html.ActionLink("Calculator", "Index", "Calculator")</li>
                        <li>@Html.ActionLink("Companies", "Index", "Company")</li>
                        <li>@Html.ActionLink("Salesforce Contacts", "Index", "Contacts")</li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2">
                <div class="list-group-item-text">

                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    <script src="~/Templates/js/jquery-1.11.1.min.js"></script>
    <script src="~/Templates/js/bootstrap.min.js"></script>
    <script src="~/Templates/js/chart.min.js"></script>
    <script src="~/Templates/js/chart-data.js"></script>
    <script src="~/Templates/js/easypiechart.js"></script>
    <script src="~/Templates/js/easypiechart-data.js"></script>
    <script src="~/Templates/js/bootstrap-datepicker.js"></script>
    <script src="~/Templates/js/custom.js"></script>
    @RenderSection("scripts", required: false)

    <script type="text/javascript" async="async" defer="defer" data-cfasync="false" src="https://mylivechat.com/chatinline.aspx?hccid=73615552"></script>


</body>
</html>
