@model PagedList.IPagedList<Insure.Web.Models.Policy>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index","Policy", FormMethod.Get))
{
    <p>
        Search by Company: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input c"type="submit" value="Search" />

    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Company", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>Policy</th>
        <th>
            @Html.ActionLink("Premium", "Index", new { sortOrder = ViewBag.PremiumSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Deductible
        </th>
        <th>
            Co-Ins %
        </th>
        <th>
            Co-Pay
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Company.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Premium)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Deductible)
        </td>
        <td>
            @Html.DisplayTextFor(modelItem => item.CoInsurance)<span class="text text-center"> %</span>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CoPay)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
<br />

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))


