@model PagedList.IPagedList<Insure.Web.Models.Policy>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
@{
    ViewBag.Title = "Index";
}

<h2 class="fa-font">Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "Policy", FormMethod.Get))
{
    <p>
        Search by Company: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" placeholder="Search" />

    </p>
}
<p>
    @Html.ActionLink("Compare Policies", "Calculate")

</p>
@using (Html.BeginForm("Compare", "Policy", FormMethod.Post))
{
    <div class="col-md-6">
        <ul>
            <text>Policy 1</text>
            <li>Premium: @Html.TextBox("Premium")</li>
            <li>Deductible: @Html.TextBox("Deductible")</li>
            <li>Co - Insurance Percentage: @Html.TextBox("Co-Insurance")</li>
            <li>Out of Pocket Max: @Html.TextBox("Out-Of-Pocket-Max")</li>
        </ul>
    </div>
    <div class="col-md-6">
        <ul>
            <text>Policy 2</text>
            <li>Premium: @Html.TextBox("Premium")</li>
            <li>Deductible: @Html.TextBox("Deductible")</li>
            <li>Co - Insurance Percentage: @Html.TextBox("Co-Insurance")</li>
            <li>Out of Pocket Max: @Html.TextBox("Out-Of-Pocket-Max")</li>
        </ul>
    </div>
    <div class="col-md-6">
        <p>
            Expected Medical Expenses: @Html.TextBox("ExpectedCost")
        </p>
    </div>
    <div class="col-md-6">
        <p>
            <button type="submit" placeholder="Compare">Compare</button>
        </p>
    </div>
}
<br />

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Company", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>Policy</th>
        <th>
            @Html.ActionLink("Premium", "Index", new { sortOrder = ViewBag.PremiumSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Deductible
        </th>
        <th>
            Co-Ins %
        </th>
        <th>
            Co-Pay
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Company.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Premium)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deductible)
            </td>
            <td>
                @Html.DisplayTextFor(modelItem => item.CoInsurance)<span class="text text-center"> %</span>
            </td>
            <td>
                @Html.DisplayTextFor(modelItem => item.CoPay)
            </td>
            <td> </td>
        </tr>
    }

</table>

<br />

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

@using (Html.BeginForm("Convert", "Policy", FormMethod.Post))
{

    <div class="hidden">
        <p>
            Url:<br />
            <input type="text" value="http://localhost:22032/Policy/Index" name="TxtUrl" style="width: 90%" />
        </p>
        <div class="col2">
            Pdf Page Size:<br />
            <select name="DdlPageSize">
                <option value="A1">A1"></option>
                <option value="A2">A2</option>
                <option value="A3">A3</option>
                <option value="A4" selected>A4</option>
                <option value="A5">A5</option>
                <option value="Letter">Letter</option>
                <option value="HalfLetter">HalfLetter</option>
                <option value="Ledger">Ledger</option>
                <option value="Legal">Legal</option>
            </select><br />
            <br />
            Pdf Page Orientation:<br />
            <select name="DdlPageOrientation">
                <option value="Portrait" selected>Portrait</option>
                <option value="Landscape">Landscape</option>
            </select><br />
            <br />
        </div>
        <div class="col2">
            Web Page Width:<br />
            <input name="TxtWidth" type="text" style="width: 50px" value="1024" /> px<br />
            <br />
            Web Page Height:<br />
            <input name="TxtHeight" type="text" style="width: 50px" value="" /> px<br />
            (leave empty to auto detect)<br />
            <br />

        </div>
    </div>
    <div class="col-clear"></div>
        <p>
            <input type="submit" name="BtnConvert" value="Create PDF" class="mybutton" />
        </p>
        <div class="col-md-offset-4" />

}


